@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Pacifico&display=swap');
.header {
    background: #2B2E4A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 7px 3px rgb(15, 11, 6);
    height: 7em;
    width: 100%;
    position:fixed;
    z-index:2;
}
.margin{
    padding-top: 10em;
}
.menu, .headmenu{
    display: inline;
    margin: 60px;
    white-space: nowrap;
}


.menu{
    margin-bottom: 3em;
}
.menua {
    text-decoration:none;
    font-size: 2em;
    color: rgb(255, 255, 255);
    letter-spacing: 1mm;
}
a:hover{
    color: rgba(142, 243, 206, 0.937);
}

.logo {
    padding-left: 3%;
    width: 8em;
    height: 5em;
    transition: 0.5s;
    transition-timing-function: linear;
}
.logo:hover{
    width: 9em;
    height: 6em;
}

.mytitle{
    color: white;
    padding-left: 6%;
    font-size: 2.2em;
    -webkit-text-stroke: 0.2mm #000000;
    letter-spacing: 1mm;
    font-weight:normal;
    white-space: nowrap;
}

.home{
    text-decoration:none;
    color: white;
}

h1{
    color: white;
    padding-left: 2%;
    font-size: 2em;
    font-family: 'Corinthia', cursive;
    -webkit-text-stroke: 0.2mm #000000;
    letter-spacing: 2mm;
    font-size: 30px;
}
.login{
    width: 12em;
    background-color: #006a71;
}
body {
    background-color:  #faf3f0;
    color: rgb(248, 249, 251);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.social{
    display: flex;
    justify-content: space-around;
}

.button_setting {
    color: white;
}
.h_settings{
    color: white;
}
h2 {
    color: black;
}
form{
    color:black;
}
footer {
    background-color: #2B2E4A;
    height: 2.7em;
    text-align: center;
    padding-top: 0.7em;
    margin-top: auto;
    color: white;
    font-size: 1em;
    font-family: 'Trebuchet MS';
    -webkit-text-stroke: 0.1mm #000000;
    letter-spacing: 0.4mm;
}

#areq{
    color:white;
    text-decoration: none;
}
#reg{
    width: 13em;
}

